.body{
    background-color: blueviolet;
}
.head{
    width:500;
    height: 20px;
    padding: 4px;
}
.head{
    background-color: rgb(39, 150, 169);
    width:100%;

}
.com {
    float: left;
}
.rem{
    float: right;
}
.nav li{
    float: left;
    list-style-type: none;
    
}
.nav li a{
    text-decoration: none;
    padding-left: 5px;
}
body{
    background-color:rgb(5, 5, 69);
}
.about{
    color: rgb(123, 119, 119);
}
.about p{
    text-shadow: 10px;
    font-size: larger;
}

footer {
    background-color:azure;
    color: #020202;
    width: 100%;
    margin-top: 256px;
    
}
.para1{
    width: 50%;
    height:300px;
    float: left;
    background-color: aliceblue;
}
.paragraph1{
    width: 100%;
    height: 300px;
}

.image1 img{
    float: left;
    width:300px;
    margin-left:39px;
}

.para2 p{
    background-color: aqua;
    width: 500px;
}
.paragraph2{
        display: flex;
}

.paragraph2 img{
    margin: 20px;
}
.paragraph2 p{
    margin-left: 20px;
}


